<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zero.yoga">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".YogoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yogachain_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yogachain_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stadiums.StadiumSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stadiums.StadiumDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stadiums.StadiumHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UserCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.AboutActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <provider
            android:name=".utils.YogaFileProvider"
            android:authorities="${packageName}.util.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yoga_file_paths" />
        </provider>
    </application>

</manifest>